<div class="col-sm-6 col-md-4 col-md-offset-4">
  <h3 class="text-center">{{t 'shell.auth.heading'}}</h3>
  <form class="login-form">
    <div class="form-group">
    {{input name='username' value=username class='form-control'
      placeholder=(t 'shell.auth.username') disabled=authcontinue autofocus='autofocus' required='required'}}
    </div>
    {{#if authcontinue}}
    <div class="form-group">
      {{#if requestValue}}
        {{focus-input type='password' name='password' value=value class='form-control' placeholder=placeholder}}
      {{/if}}
      <span class="prompt help-block">{{{prompt}}}</span>
    </div>
    {{/if}}
    <div class="form-group">
      <button {{action 'submit'}} type='submit' class='btn btn-primary btn-block' disabled={{isLoading}}>
        {{if authcontinue (t 'shell.auth.signin') (t 'shell.action.next')}}
      </button>
    {{#if authcontinue}}
      <button {{action 'cancel'}} type='button' class='btn btn-link btn-block' disabled={{isLoading}}>
        {{t 'shell.action.cancel'}}
      </button>
    {{/if}}
    </div>
  </form>
</div>
